body {
	background-color: rgb(249,249,249);
	display: block;
	margin: 8px;
}

img {
	height: 150px;
	width: auto;
}

pre {
	display: block;
	font-family: Courier;
	white-space: pre;
}

.title {
	color: rgb(34,71,29);
	font-weight: bold;
}

.const{
	color: rgb(252, 166, 209);
	color: rgb(41, 165, 159);
}

.val{
	color: rgb(41, 165, 159);
	color: rgb(204, 40, 22)
}

.special_char{
	color: rgb(73, 240, 252);
}