body {
	margin: 0;
	padding: 0;
	background-color: #000000;
}
* {
	/*border: 1px solid #665544;*/

}
#menu {
	background-color: #000000;
	margin: auto;
	margin-top: 100px;
	width: 412px;
	border: 2px solid #31d0d0;
	border-radius: 7px;
	padding: 10px;
	box-shadow: inset 0 0 16px 2px #25e6e6, 0 0 13px 11px #25e6e6;
}

.img__wrap {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 2px;
}

img {
	width: 100%;
	height: 100%;
}

.img__wrap img {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

a {
	border: 0px;
}

ul {
	list-style-type: none;
	padding: 0px;
}

.img__wrap p {
	position: absolute;
	text-align: center;
	padding-top: 90px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
	margin: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover p {
  visibility: visible;
  opacity: 1;
}

#content {
	margin-top: 50px;
	color: #25e6e6;
	text-align: center;
}

li {
	margin: 10px;
	font-size: 1.2em;
}

a {
	color: #00a1ff;
}

p {
	font-size: 1.2em;
}
